.container{
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.container div{
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0;
  transition-duration: 1s;
  transition-timing-function: linear;
}


.anim{
  transition-property: left;
}